*,
*::before, 
*::after {
    margin: 0; 
    padding: 0;
    box-sizing: inherit;
}

body {
    /* background-color: #051a2a; */
    background: rgb(2,0,36);
    background: linear-gradient(
        90deg
        , rgb(13 13 15) 0%, rgb(12 12 54) 100%, rgb(7 7 50) 100%, rgb(15 15 115) 100%, rgb(0 0 0) 100%);
    height: 100% !important;
}

h2 {
    color: #ffffff;
}
a {
    text-decoration: none;
}

/* Navbar Styling */
.collapse:not(.show) {
    display: none;
}

/* Login form styling */
button {
    background: transparent;
    border:0px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5em;
    margin-right:1em;
}

button:focus {
    outline: 0px;
}

button.active {
    border-bottom: solid 2px #ff1080;
    padding-bottom: 10px;
} 

.flex-center {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.flex-center:hover {
    text-decoration: none;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .form {
        width: 70%;
    }
    .tab-buttons {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .form {
        width: 60%;
    }
    .tab-buttons {
        margin-bottom: 1em;
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .form {
        width: 50%;
    }
    .tab-buttons {
        width: 50%;
    }
}



